<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Caller system</title>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>


<div align="center" class="container my-2">
	
	<h1> KwikMedical</h1>
	
	<a th:href = "@{/registerNewCallerForm}" class="btn btn-primary btn-sm mb-3">Add caller</a>
	
	<a th:href = "@{/displayRegisteredCallers}" class="btn btn-primary btn-sm mb-3">Display all callers</a>
		
</div>

</body>
</html>